---
layout: layouts/main.njk
title: Home
---

<link rel="stylesheet" href="/home.css"/>
<div class="home-content">
      <div class="description">
            <p>My name is
                  <span class="mdf-emphasis">Guillaume Meigniez</span>, I'm a French front-end engineer currently living in Fukuoka. I'm
                        passionate about data visualization, accessibility and design systems. I believe the key to building great software lies
                        where design and engineering meet.
            </p>
            <p>I'm currently available for
                  <a href="https://www.malt.fr/profile/guillaumemeigniez" class="mdf-link">freelance</a>
                  missions. In the past I worked at
                  <a class="mdf-link" href="https://pass.culture.fr/">pass Culture</a>,
                  <a class="mdf-link" href="https://www.manadge.com/">Manadge</a>
                  and
                  <a class="mdf-link" href="https://www.ibm.com/">IBM France</a>. Have a look at
                  <a class="mdf-link text-no-wrap" href="/assets/resume-guillaume_meigniez.pdf" target="_blank">my
                        <i>résumé</i>&nbsp;{% include "components/new-tab-icon.njk" %}</a>.</p>
            <p>In my spare time I like
                  <a href="https://www.instagram.com/andre.elawrance/" class="mdf-link">making patterns and sewing clothes</a>,
                  <a href="https://www.chess.com/member/canette-ouverture" class="mdf-link">playng chess</a>
                  or taking
                  <a class="mdf-link" href="/social">tourist photos</a>. I
                  <a class="mdf-link" href="/blog">write about</a>
                  these interests, as well as about design and front-end technologies.</p>
      </div>
</div>
<div class="side-img" id="side-image"></div>
<div class="canvas">
      <canvas id="canvas"></canvas>
</div>
<div class="sticker" id="sticker">
      <img eleventy:ignore="eleventy:ignore" src="/assets/img/forme_color_1.png" alt=""/>
</div>
{# <script src="/assets/js/about.js"></script> #}
<script src="/assets/js/about-drag.js"></script>