---
layout: layouts/main.njk
title: Travaillons ensemble (développeur freelance a11y)
lang: fr
description: "Guillaume Meigniez est un développeur front-end en freelance spécialisé dans l'accessibilité numérique et la conformité au RGAA."
stylesheets:
  - /page-accessibilite.css
---

<h2 class="mdf-title2 page-title">Travaillons ensemble!</h2>
<p>Je m'appelle Guillaume, je suis
    <span class="mdf-emphasis">développeur front-end en freelance</span>
    avec plus de 8 années d'expérience dans la création et maintenance de sites web et applications
    <span class="mdf-emphasis">performantes</span>
    et
    <span class="mdf-emphasis">inclusives</span>.
</p>
<img
    eleventy:ignore="eleventy:ignore"
    src="/assets/img/image_6.webp"
    class="back-img"
    alt="Une sculpture d'art contemporain colorée devant un ciel bleu"/>
<p>Avec mon double profil développeur et designer, j'ai une vision globale du produit grâce à laquelle j'accompagne les
    entreprises dans la création de stratégies d'accessibilité numérique cohérentes et dans la mise en conformité au RGAA.</p>
<p>Ces 3 dernières années j'ai œuvré à rendre les sites du pass Culture plus accessibles, et à améliorer la conformité
    aux WCAG et RGAA. Organisation d'audits, formation des équipes, traitement des résultats d'audits RGAA.</p>
<div>
    A l'intersection entre le code, le design, et la stratégie d'amélioration de l'accessibilité, je peux vous accompagner
    pour :
    <ul class="mdf-list">
        <li class="mdf-list-item">
            <span class="mdf-emphasis">Planifier une stratégie globale d'accessibilité</span>
            (compréhension des résultats, priorisations et correction des erreurs
                                    relevées).</li>
        <li class="mdf-list-item">
            <span class="mdf-emphasis">Former les équipes</span>
            de développeurs et designers aux enjeux de l'a11y, aux attentes du RGAA, et aux outils associés (automatisation de tests
            d'accessibilité, lecteurs d'écran, extensions web).</li>
        <li class="mdf-list-item">
            <span class="mdf-emphasis">Analyser votre base de code et interfaces</span>
            pour en tirer un plan d'amélioration de
            l'accessibilité.</li>
        <li class="mdf-list-item">
            <span class="mdf-emphasis">Corriger les erreurs</span>
            relevées par les audits.</li>
    </ul>
</div>
<p>Je travaille actuellement uniquement à distance (depuis le Japon pendant quelques mois). Prenons contact et discutons
    de vos besoins!</p>
<p>Contactez moi par e-mail
    <a class="mdf-link" href="mailto:guillaume.meigniez@proton.me">guillaume.meigniez@proton.me</a>.</p>