<p
    class="footer">
    {#     <a href="mailto:guillaume.meigniez@proton.me" class="mdf-link footer-link text-no-wrap">e-mail</a> #}
    <a href="https://github.com/GuillaumeMMM" class="mdf-link footer-link text-no-wrap" target="_blank">github&nbsp;{% include "components/new-tab-icon.njk" %}</a>
    {#     <a href="https://mastodon.social/@gmmm" class="mdf-link footer-link text-no-wrap" target="_blank">mastodon&nbsp;{% include "components/new-tab-icon.njk" %}</a> #}
    <a href="https://www.linkedin.com/in/guillaume-meigniez/" class="mdf-link footer-link text-no-wrap" target="_blank">
        linkedin&nbsp;{% include "components/new-tab-icon.njk" %}</a>
    <a href="https://experiments.guillaumemeigniez.me" target="_blank" class="mdf-link footer-link text-no-wrap">
        experiments&nbsp;{% include "components/new-tab-icon.njk" %}</a>
</p>