<p class="footer">
    <a href="mailto:guillaume.meigniez@proton.me" class="mdf-link text-no-wrap">guillaume.meigniez@proton.me</a>,
    <a href="https://github.com/GuillaumeMMM" class="mdf-link text-no-wrap" target="_blank">GitHub&nbsp;{% include "components/new-tab-icon.njk" %}</a>,
    <a href="https://mastodon.social/@gmmm" class="mdf-link text-no-wrap" target="_blank">Mastodon&nbsp;{% include "components/new-tab-icon.njk" %}</a>,
    <a href="https://www.linkedin.com/in/guillaume-meigniez/" class="mdf-link text-no-wrap" target="_blank">LinkedIn&nbsp;{% include "components/new-tab-icon.njk" %}</a>
</p>