<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if description %}{{ description | escape }}{% else %}Guillaume Meigniez is a French front-end engineer, blogging about design systems, accessibility, data visualization, and creative side projects.{% endif %}">
    <link rel="stylesheet" href="/bundle.css">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon.png">
    {% if stylesheets %}
      {% for href in stylesheets %}
        <link rel="stylesheet" href="{{ href }}">
      {% endfor %}
    {% endif %}
    <title>
      {{ title }} |{% if page.url.startsWith("/blog/") and title != "Blog" %}
        Blog |
      {% endif %}
      Guillaume Meigniez</title>
  </head>
  <body>
    <a class="skip-to-content-link" href="#main">
      Skip to content
    </a>
    <header class="header">
      <h1 class="title">
        <a href="/">Guillaume MEIGNIEZ</a>
      </h1>
      <div class="nav-container">{% include "components/nav.njk" %}</div>
    </header>
    <main id="main">
      <div class="content" id="content">{{ content | safe }}</div>
    </main>
    <footer>
      <div class="nav-footer">{% include "components/footer.njk" %}</div>
    </footer>
  </body>
</html></head></html>