@font-face {
  font-family: "IBM Plex Sans";
  src: url("/assets/fonts/IBMPlexSans-VariableFont_wdth,wght.woff2") format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/assets/fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.woff2") format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

body {
  background-color: var(--mdf-color-background-default);
  padding: 1rem;
  min-height: 100vh;
  font-family: "IBM Plex Sans", "system-ui", "Arial";
  line-height: 1.6rem;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 10px;

  a {
    color: inherit;
    text-decoration: none;

    &:visited {
      color: inherit;
    }

    &:focus-visible {
      outline: 2px solid var(--mdf-color-outline-default);
      outline-offset: 3px;
      border-radius: 8px;
    }
  }
}

.page-title {
  line-height: 3rem;
}

.content {
  max-width: 600px;
  margin: 0 auto;
}

.header {
  margin: 0 0 2rem 0;
}

.footer {
  margin-top: 2rem;
  text-align: right;
}

.blog-post-list {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 2rem 0;

  .blog-post-list-item:last-child {
    .blog-post-list-item-link:hover {
      border-bottom: 1px solid var(--mdf-color-border-muted);
    }
  }

  .blog-post-list-item-link {
    padding: 1.5rem 10px;
    font-size: 1.5rem;
    color: inherit;
    text-decoration: none;
    display: block;
    border-radius: 0px;
    border: 1px solid transparent;
    border-top: 1px solid var(--mdf-color-border-muted);

    .blog-post-list-item-date {
      font-size: 1rem;
      margin-top: 5px;
    }

    &:hover {
      background-color: var(--mdf-color-background-muted);
      border-left: 1px solid var(--mdf-color-border-muted);
      border-right: 1px solid var(--mdf-color-border-muted);

      .blog-post-list-item-title {
        text-decoration: underline;
      }
    }

    &:focus-visible {
      outline: 2px solid var(--mdf-color-outline-default);
      background-color: var(--mdf-color-background-muted);
    }
  }
}

.blog-description {
  margin-top: 2rem;
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  .menu-item {
    text-decoration: none;
    color: inherit;

    &.menu-item-current {
      text-decoration: underline;
      text-underline-offset: 3px;
      font-weight: 500;
    }

    &:visited {
      color: inherit;
    }

    &:focus-visible {
      border-radius: 3px;
      outline: 2px solid var(--mdf-color-outline-default);
      outline-offset: 3px;
    }
  }
}

.mdf-link {
  border-radius: 3px;
}

.mdf-badge {
  border-radius: 3px;
}

.mdf-emphasis {
  font-weight: 600;
}

i {
  font-style: italic;
}

.text-no-wrap {
  text-wrap: nowrap;
}

.skip-to-content-link {
  background: var(--mdf-color-background-brand-primary);
  padding: 8px;
  position: absolute;
  transform: translateY(-200%);
  border-radius: 3px;

  &:visited {
    color: inherit;
  }

  &:focus {
    transform: translateY(0%);
    outline: 2px solid var(--mdf-color-outline-default);
    outline-offset: -1px;
  }
}