h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0 1.5rem 0;
  font-weight: 400;
}

.mdf-title3,
.mdf-title4,
.mdf-title5,
.mdf-title6 {
  font-weight: 500;
}

.mdf-list {
  margin: 1rem 0;
}

.post-title {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 1rem 0;
}

.back-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 3px;
  line-height: 1.5rem;

  &:visited,
  &:visited:hover {
    background-color: inherit;
    color: inherit;
  }

  .arrow {
    width: 14px;
    height: 14px;
  }
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p+p {
  margin-top: 1rem;
}

.mdf-code-block {
  white-space: pre-wrap;
  margin: 1rem 0;
}

.mdf-quote {
  margin: 1rem 0;
}

strong {
  font-weight: 600;
}

.photo-album {
  margin: 1rem 0;
}

img {
  max-width: 100%;
  margin: 1rem auto;
  display: block;
}

.post-footer {
  margin: 1rem 0;

  .end-marker {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 2px;
    background-color: var(--mdf-color-text-muted);
  }
}