on: push
name: Deploy website on push
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4

      - name: Use Node.js 18
        uses: actions/setup-node@v2
        with:
          node-version: "18"

      - name: Build Project
        run: |
          rm -rf _site
          npm install
          npx @11ty/eleventy

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          protocol: ftp
          server: ftp.cluster021.hosting.ovh.net
          username: guillan
          password: ${{ secrets.FTP_PERSONALBLOG }}
          local-dir: ./_site/
          server-dir: ./www/
